.bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.divCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-left: -425px;
}

.logo-holder {
    text-align: center;
}

.logo-5 h3 {
    color: white;
    font-weight: 300;
    font-size: 40px;
    line-height: 0.6;
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
}

.logo-5 p {
    font-size: 14px;
    margin-left: 0;
    color: #66FCF1;
    font-size: large;
    font-weight: 400;
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Mansalva', cursive;
    position: relative;
}
a {
    cursor: pointer;
}