@inherits LayoutComponentBase
<body>
    <main role="main">
        <body class="bg"
              style="background-image:url('../Pictures/bg.jpg') ;
                            height: 100vh">
              <LoginNavbar></LoginNavbar>
            @Body
        </body>
    </main>
</body>

@code {
}
