@page "/Home"
<PageTitle>Home-YumCity</PageTitle>

<div class="container text-center" style="overflow:hidden">
    <div class="row row-cols-1 row-cols-md-2 g-3 m-auto" style="grid-column-gap:200px">
        <div class="col col-sm-5 col-md-5" style="border-style:groove;border-color:#66FCF1">
            <HxCarousel>
                <HxCarouselItem Active="true">
                    <img src="Pictures/Food1.jpg" class="d-block w-100" style="height:350px;">
                </HxCarouselItem>
                <HxCarouselItem>
                    <img src="Pictures/Food2.jpg" class="d-block w-100" style="height:350px;">
                </HxCarouselItem>
                <HxCarouselItem>
                    <img src="Pictures/Food3.jpg" class="d-block w-100" style="height:350px;">
                </HxCarouselItem>
            </HxCarousel>
            <div>
                <h4 style="color:#C5C6C7;text-align:center;margin-top:15px;font-family:'Square Peg',cursive;">cook what you love</h4>
                <a href="ListRecipes" style="background-color:#1F2833;color:#C5C6C7;margin-top:25px;" class="btn m-2">Recipes</a>
            </div>
        </div>
        <div class="col col-sm-5 col-md-5" style="border-style:groove;border-color:#66FCF1">
            <HxCarousel>
                <HxCarouselItem Active="true">
                    <img src="Pictures/Cat1.jpg" class="d-block w-100" style="height:350px;">
                </HxCarouselItem>
                <HxCarouselItem>
                    <img src="Pictures/Cat2.jpg" class="d-block w-100" style="height:350px;">
                </HxCarouselItem>
                <HxCarouselItem>
                    <img src="Pictures/Cat3.jpg" class="d-block w-100" style="height:350px;">
                </HxCarouselItem>
            </HxCarousel>
            <div>
                <h4 style="color:#C5C6C7;text-align:center;margin-top:15px;font-family:'Square Peg',cursive;">discover different cultures</h4>
                <a href="ListCategories" style="background-color:#1F2833;color:#C5C6C7;margin-top:25px" class="btn m-2">Categories</a>
            </div>
        </div>
    </div>
</div>


@code {

    }
